<html>
    <head>
        <title></title>
    </head>
    <body>
        <header>
            <a href="#"><img src="images/logo-mercado-liebre.svg" alt=""></a>
            <form action="">
                <input type="text" name="buscar" id="buscar_tf" value="Buscar producto, marcas y más">
            </form>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </header>
        <nav>
            <ul>
                <li>
                    <a href="#">Ofertas</a>
                </li>
                <li>
                    <a href="#">Tiendas Oficiales</a>
                </li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">Crea tu cuenta</a></li>
                <li><a href="#">Ingresa</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </nav>
        <main>
            <section>
                <a href="#"><img src="images/img-home-banner.jpg" alt=""></a>
            </section>
            <section>
                <h3>Basado en tu ultima visita</h3>
                <div>
                    <a href="#">
                        <img src="images/img-cafetera-moulinex.jpg" alt="">
                    </a>
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <h5>Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</h5>
                </div>
                <div>
                    <a href="">
                        <img src="images/img-macbook-pro-2019.jpg" alt="">
                    </a>
                    <p>$230.000</p>
                    <p>20% OFF</p>
                    <h5>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h5>
                </div>
                <div>
                    <a href="#">
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="">
                    </a>
                    <p>$70.500</p>
                    <p>15% OFF</p>
                    <p>Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</p>
                </div>
                <div>
                    <a href="#">
                        <img src="images/img-tv-samsung-smart.jpg" alt="">
                    </a>
                    <p>$34.000</p>
                    <p>5% OFF</p>
                    <p>SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</p>
                </div>
            </section>
            <section>
                <h3>Ofertas</h3>
                <div>
                    <a href="#">
                        <img src="images/img-cafetera-moulinex.jpg" alt="">
                    </a>
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <p>Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</p>
                </div>
                <div>
                    <a href="#">
                        <img src="images/img-macbook-pro-2019.jpg" alt="">
                    </a>
                    <p>$230.000</p>
                    <p>20% OFF</p>
                    <p>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</p>
                </div>
                <div>
                    <a href="#">
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="">
                    </a>
                    <p>$70.500</p>
                    <p>15% OFF</p>
                    <p>Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</p>
                </div>
                <div>
                    <a href="images/img-tv-samsung-smart.jpg">
                        <img src="" alt="">
                    </a>
                    <p>$34.000</p>
                    <p>5% OFF</p>
                    <p>SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</p>
                </div>
            </section>
            <footer>
                <ul>
                    <li>
                        <h3>Pagá con tarjeta o en efectivo</h3>
                        <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
                            pago. ¡Y siempre es seguro!</p>
                    </li>
                    <li>
                        <h3>Envío gratis desde los $ 2.500</h3>
                        <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                            productos. Es un beneficio de MercadoPuntos.</p>
                    </li>
                    <li>
                        <h3>Seguridad, de principio a fin</h3>
                        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
                            porque estás siempre prtegid@.</p>
                    </li>
                </ul>
                <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
            </footer>    
        </main>
    </body>

</html>
