<html>
  <head>
    <title>Mercado Liebre</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css"  type='text/css'/>
  </head>

  <body>
    <header class="header_layout">
      <div class="logo_nav">
        <div class="logo_container">
          <a href="#"
            ><img class="logo" src="images/logo-mercado-liebre.svg" alt=""
          /></a>
        </div>
        <form class="form_container"
        method="">
          <input type="text" name="buscar" id="buscar" value="Buscar producto, marcas y más" class="search" />
          <button class="search_button"> 
                <i class="fas fa-search "></i>
         </button>
        </form>
        <div>
        <i class="fas fa-hand-holding-usd header_comment"></i>
        <p class="header_comment">Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
      </div>
      <div>
        <nav class="nav_menu">
          <ul class="list_menu">
            <li><a class="links_withoutStyle" href="#">Ofertas</a></li>
            <li>
              <a class="links_withoutStyle" href="#">Tiendas Oficiales</a>
            </li>
            <li><a class="links_withoutStyle" href="#">Vender</a></li>
            <li><a class="links_withoutStyle" href="#">Ayuda</a></li>
          </ul>
          <ul class="list_menu">
            <li>
              <a class="links_withoutStyle" href="/registro">Crea tu cuenta</a>
              <i class="far fa-id-card"></i>
            </li>
            <li><a class="links_withoutStyle" href="/login">Ingresa</a>
              <i class="fas fa-sign-in-alt"></i>
            </li>
            <li><a class="links_withoutStyle" href="#">Mis compras</a>
              <i class="fas fa-shopping-basket"></i>
            </li>
          </ul>
        </nav>
        <i class="fas fa-bars hamburger_menu"></i>
      </div>
    </header>
   <section>
      <a href="#"
        ><img class="banner" src="images/img-home-banner.jpg" alt=""
      /></a>
    </section>
    <main>
      <section class="product_section">
        <h3 class="section_tittle">Basado en tu ultima visita</h3>
        <div class="display_container_flex">
        <div class="card">
            <a href="#">
              <img src="images/img-cafetera-moulinex.jpg" alt="" />
            </a>
          <div class="card_content_container">
              <div class="card_content_logo">
                <i class="fas fa-truck green_font "></i>
              </div>  
              <p class="display_text-width_small">$6.770</p>
              <p class="green_font  display_text-width_big">40% OFF</p>
              <h5 class="element_hide">Cafetera Moulinex Dolce Gusto </h5>
          </div>
        </div>  
        <div class="card">
          <a href="">
            <img src="images/img-macbook-pro-2019.jpg" alt="" />
          </a>
        <div class="card_content_container">
          <div class="card_content_logo">
            <i class="fas fa-truck green_font "></i>
          </div>  
          <p class="  display_text-width_small">$230.000</p>
          <p class="green_font   display_text-width_big">20% OFF</p>
          <h5
          class="element_hide">Macbook Pro 2019</h5>
        </div>
        </div>
        <div class="card">
          <a href="#">
            <img src="images/img-samsung-galaxy-s10.jpg" alt="" />
          </a>
        <div class="card_content_container">
          <div class=" card_content_logo card_content_logo2">
            <i class="fas fa-truck green_font "></i>
          </div>  
          <p class="  display_text-width_small">$70.500</p>
          <p  class="green_font   display_text-width_big">15% OFF</p>
          <p class=" element_hide">Teléfono móvil Samsung Galaxy S10</p>
        </div>
      </div>
        <div class="card">
          <a href="#">
            <img src="images/img-tv-samsung-smart.jpg" alt="" />
          </a>
        <div class="card_content_container">
          <div class=" card_content_logo">
            <i class="fas fa-truck green_font "></i>
          </div>  
          <p class="  display_text-width_small">$34.000</p>
          <p class="green_font   display_text-width_big">5% OFF</p>
          <p class=" element_hide">SmartTv Samsung 43"</p>
        </div>
        </div>
      </div>
      </section>
      <section class="product_section">
        <h3 class="section_tittle">Ofertas</h3>
        <div class="display_container_flex">
          <div class="card">
              <a href="#">
                <img src="images/img-cafetera-moulinex.jpg" alt="" />
              </a>
            <div class="card_content_container">
                <div class="card_content_logo">
                  <i class="fas fa-truck green_font"></i>
                </div>  
                <p class="display_text-width_small">$6.770</p>
                <p class="green_font  display_text-width_big">40% OFF</p>
                <h5 class="element_hide">Cafetera Moulinex Dolce Gusto </h5>
            </div>
          </div>  
          <div class="card">
            <a href="">
              <img src="images/img-macbook-pro-2019.jpg" alt="" />
            </a>
          <div class="card_content_container">
            <div class="card_content_logo">
              <i class="fas fa-truck green_font "></i>
            </div>  
            <p class="  display_text-width_small">$230.000</p>
            <p class="green_font   display_text-width_big">20% OFF</p>
            <h5
            class="element_hide">Macbook Pro 2019</h5>
          </div>
          </div>
          <div class="card">
            <a href="#">
              <img src="images/img-samsung-galaxy-s10.jpg" alt="" />
            </a>
          <div class="card_content_container">
            <div class=" card_content_logo card_content_logo2">
              <i class="fas fa-truck green_font "></i>
            </div>  
            <p class="  display_text-width_small">$70.500</p>
            <p  class="green_font   display_text-width_big">15% OFF</p>
            <p class=" element_hide">Teléfono móvil Samsung Galaxy S10</p>
          </div>
        </div>
          <div class="card">
            <a href="#">
              <img src="images/img-tv-samsung-smart.jpg" alt="" />
            </a>
          <div class="card_content_container">
            <div class=" card_content_logo">
              <i class="fas fa-truck green_font "></i>
            </div>  
            <p class="  display_text-width_small">$34.000</p>
            <p class="green_font   display_text-width_big">5% OFF</p>
            <p class=" element_hide">SmartTv Samsung 43"</p>
          </div>
          </div>
        </div>
      </section>
    </main>
    <footer >
      <div class="footer_container">
      <article class="footer_info">
        <div class="content">
          <i class="fas fa-credit-card footer_icon content"></i>
        </div>
        <h3 class="content">Pagá con tarjeta o en efectivo</h3>
        <p class="disclaimer content">
          Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o
          efectivoen puntos de pago. ¡Y siempre es seguro!
        </p>
      </article>
      <article class="footer_info">
        <div class="content">
        <i class="fas fa-gift footer_icon"></i>
        </div>
        <h3 class="content">Envío gratis desde los $ 2.500</h3>
        <p class="disclaimer content">
          Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en
          miles de productos. Es un beneficio de MercadoPuntos.
        </p>
      </article>
      <article class="footer_info">
        <div class="content">
          <i class="fas fa-user-shield footer_icon content"></i>
        </div>
        <h3 class="content">Seguridad, de principio a fin</h3>
        <p class="disclaimer content">
          ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas
          hacer porque estás siempre prtegid@.
        </p>
      </article>
    </div>
      <div>
        <p class="disclaimer">Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
      </div>
    </footer>
  </body>
</html>
