<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Sign In</title>
</head>

<body>
    <header class="header_layout">
        <div>
          <div>
            <a href="#"
              ><img class="logo" src="images/logo-mercado-liebre.svg" alt=""
            /></a>
          </div>
          <form method="">
            <input
              type="text"
              name="buscar"
              id="buscar"
              value="Buscar producto, marcas y más"
              class="search"
            />
            <a href=""><i class="fas fa-search search_button"></i></a>
          </form>
          <i class="fas fa-hand-holding-usd header_comment"></i>
          <p class="header_comment">Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div>
          <nav class="nav_list">
            <ul class="allign_end">
              <li><a class="links_withoutStyle" href="#">Ofertas</a></li>
              <li>
                <a class="links_withoutStyle" href="#">Tiendas Oficiales</a>
              </li>
              <li><a class="links_withoutStyle" href="#">Vender</a></li>
              <li><a class="links_withoutStyle" href="#">Ayuda</a></li>
            </ul>
            <ul>
              <li>
                <a class="links_withoutStyle" href="/registro">Crea tu cuenta</a>
              </li>
              <li><a class="links_withoutStyle" href="/login">Ingresa</a></li>
              <li><a class="links_withoutStyle" href="#">Mis compras</a></li>
            </ul>
          </nav>
          <i class="fas fa-bars hamburger_menu"></i>
        </div>
    </header>
        <main>
        <form class="main_class" action="">
            <input class="input_login" type="text" name="username" id="username" placeholder="Nombre de Usuario">
            <input class="input_login" type="password" name="password" id="password" placeholder="Elegí tu contraseña">
            <input class="input_login input_login_button" type="button" value="Enviar">
        </form>
        </main>
        <footer>
            <article>
              <i class="fas fa-credit-card footer_icon"></i>
              <h3>Pagá con tarjeta o en efectivo</h3>
              <p class="disclaimer">
                Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o
                efectivoen puntos de pago. ¡Y siempre es seguro!
              </p>
            </article>
            <article>
              <i class="fas fa-gift footer_icon"></i>
              <h3>Envío gratis desde los $ 2.500</h3>
              <p class="disclaimer">
                Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en
                miles de productos. Es un beneficio de MercadoPuntos.
              </p>
            </article>
            <article>
              <i class="fas fa-user-shield footer_icon"></i>
              <h3>Seguridad, de principio a fin</h3>
              <p class="disclaimer">
                ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas
                hacer porque estás siempre prtegid@.
              </p>
            </article>
            <div>
              <p class="disclaimer">Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
            </div>
        </footer>
</body>

</html>